button {
	font-family:'Permanent Marker', cursive;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
	
	background-color: White;
	color: Black;
}
button.theme{
	height:50px;
	Width:100px;
	text-align: center;
	text-transform: uppercase;
	font-family:'Permanent Marker', cursive;
}
button.clicker{
	height:250px;
	Width:500px;
	border-radius: 12px;
	margin: 140px;
	font-size: 50px;
}
p {
	font-weight: bold;
	font-size: 20px;
}
<link rel="stylesheet" href="Main.css">
